body{
  font-family: 'Roboto', sans-serif;
}

/* Base styles */
h1{
  text-align: center;
  letter-spacing: 0.5px;
  text-align: center;
  font-size: 45px; /*Pasar a em´s o rem´s!*/
  font-weight: 200;
  letter-spacing: 2px;
  color: #21adff;
}

h2{
  font-size: 22px; /*Pasar a em´s o rem´s!*/
  font-weight: 500;
  letter-spacing: 2px;
  color: #0071ea;
}

code{
  color:#232323;
}

p{
  font-weight: 300;
  font-size:15px; /*Pasar a em´s o rem´s!*/
  color: #6b6b6b;
  text-align:center;
  line-height: 32px; /*Pasar a em´s o rem´s!*/
}

.col .inner{
  min-height: 80px;
  background: #E4F4FE;
  border-radius: 8px;
  border:solid #c4e8ff 1px;
  box-sizing: border-box;
}
.col{
  margin: 14px 0px;
}

.row.demo-row{
  margin-top:23px;
}


/* Helpers */
.grey{
  border: #ddd solid 1px;
  border-radius: 8px;
  overflow: auto;
}
.center-align{
  text-align: center!important;
}
.right-align{
  text-align: right!important;
}
.upcase{
  text-transform: uppercase!important;
}